/* colour palette reference: https://www.color-hex.com/color-palette/1010370 */

/* classes:
    .titleimg === the image in the navbar
    .naviglink === each of the buttons on the navabr
    .title === the title bar of each page
    .imgntext === the divs that will have an image and a textbox next to it
*/

/* ALL IMAGES USED

https: //unsplash.com/fr/photos/homme-en-t-shirt-rouge-tenant-une-bouteille-en-plastique-blanche-Cns0h4ypRyA


*/

/* navbar */
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
nav {
    background-color: rgb(153, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
}
nav .titleImg img {
    width: 10rem;
    height: auto;
    display: block;
    margin-left: 1rem;
}
nav .navigLink {
    display: flex;
    height: 100%;
}
nav .navigLink a {
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 100%;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}
nav .navigLink a:hover {
    background-color: rgb(204, 0, 0);
}

/* title */
.title {
    background-color: rgb(43, 52, 103);
    background-image: url("volunteers.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 8.1rem;
}
.title h1 {
    font-size: 3.5rem;
    text-align: center;
    font-family: "Arial Black", "Open Sans", sans-serif;
    color: white;
    animation-name: fadeintitle;
    animation-duration: 1.5s;
    margin: 0;
}

/* main body */
.mainbody {
    padding-top: 2rem;
}

/* image and text */
.imgntext {
    margin: 3rem;
    display: flex;
    justify-content: center;
}
.imgntext img {
    max-width: 30%;
    height: auto;
    margin: 0 3rem;
    object-fit: contain;
}
.imgntext div {
    max-width: 30%;
    margin: 0 3rem;
}
.imgntext div h1 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: .5rem;
    /* font --- maybe use a good heading font? */
}
.imgntext div p {
    text-align: left;
}
/* NOTE -> only use this div for text boxes that will contain a heading then a paragraph */

.text {
    margin: 3rem;
    display: flex;
    justify-content: center;
}
.text div {
    max-width: 60%;
}
.text div h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.text div p {
    text-align: left;
}

/* contact list */
.contactlist {
    margin: 3rem;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
}
.contactlist h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.contactlist div {
    align-self: center;
    max-width: 100%;
}
.contactlist div div {
    display: flex;
    gap: 1rem;
}
.contactlist div div img {
    width: 2rem;
    height: 2rem;
    display: inline;
    flex-shrink: 0;
    align-self: center;
}
.contactlist div div p {
    text-align: left;
}

/* statistics bar */
.statsbar {
    margin: 6rem 0;
    background-color: rgb(39, 46, 52); /* this colour is not included on the colour palette */
    padding: 0 1rem;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
.statsbar div {
    display: flex;
    justify-content: center;
}
.statsbar div h1 {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

/* disclaimer */
.disclaimer {
    font-size: 1rem;
    text-align: center;
    font-style: italic;
    padding: 0 15%;
    margin-top: 10rem;
}

/* fade-in animation */
@keyframes fadeintitle {
    from {
        opacity: 0;
        font-size: 2.5rem;
    }
    to {
        opacity: 1;
        font-size: 3.5rem;
    }
}

/* responsiveness */
@media (min-width: 1400px) {
    /* image and text */
    .imgntext div {
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .imgntext div h1 {
        font-size: 2rem;
    }
    .imgntext div p {
        font-size: 1.5rem;
    }
    .imgntext div ul li {
        font-size: 1.5rem;
    }

    /* text */
    .text div {
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .text div h1 {
        font-size: 2rem;
    }
    .text div p {
        font-size: 1.5rem;
    }
    .text div ul li {
        font-size: 1.5rem;
    }

    /* contact list */
    .contactlist h1 {
        font-size: 2rem;
    }
    .contactlist div div p {
        font-size: 1.5rem;
    }
    .contactlist div div img {
        height: 3rem;
        width: 3rem;
    }

    /* statsbar */
    .statsbar {
        padding: 3rem;
    }
    .statsbar div h1 {
        font-size: 1.5rem;
    }
}
@media (max-width: 800px) {
    /* navigation bar */
    nav .titleImg img {
        width: 6rem;
    }
    nav .navigLink a {
        font-size: 1.2rem;
        padding: 0 1.3rem;
    }

    /* main body */
    .mainbody {
    padding-top: 1.5rem;
    }

    /* image and text */
    .imgntext {
        margin: 1.5rem;
    }
    .imgntext img {
        margin: 0 2rem;
    }
    .imgntext div {
        margin: 0 2rem;
    }
    .imgntext div h1 {
        font-size: 1rem;
    }
    .imgntext div p {
        font-size: .6rem;
    }
    .imgntext div ul li {
        font-size: .6rem;
    }

        /* text */
    .text {
        margin: 1.5rem;
    }
    .text div {
        margin: 0 2rem;
    }
    .text div h1 {
        font-size: 1rem;
    }
    .text div p {
        font-size: .6rem;
    }

    /* statsbar */
    .statsbar {
        padding: 1.5rem;
        margin: 4rem 0;
    }
    .statsbar div h1 {
        font-size: .8rem;
    }

    /* disclaimer */
    .disclaimer {
        font-size: .4rem;
        margin-top: 5rem;
    }
}
@media (max-width: 500px) {
    /* navigation bar */
    nav .titleImg img {
        width: 4rem;
    }
    nav .navigLink a {
        font-size: .8rem;
        padding: 0 .8rem;
    }

    /* main body */
    .mainbody {
    padding-top: 1rem;
    } 

    /* image and text */
    .imgntext {
        margin: 1.5rem .7rem;
    }
    .imgntext img {
        margin: 0 1rem;
        max-width: 40%;
    }
    .imgntext div {
        margin: 0 1rem;
        max-width: 50%;
    }
    .imgntext div h1 {
        font-size: 1.5rem;
    }
    .imgntext div p {
        font-size: .8rem;
    }
    .imgntext div ul {
        padding-left: 1rem;
    }
    .imgntext div ul li {
        font-size: .8rem;
    }

    /* text */
    .text {
        margin: 1.5rem 0;
    }
    .text div {
        margin: 0 2rem;
        max-width: 80%;
    }
    .text div h1 {
        font-size: 1.5rem;
    }
    .text div p {
        font-size: .8rem;
    }

    /* statsbar */
    .statsbar {
        padding: 1rem;
        margin: 2rem 0;
    }
    .statsbar div h1 {
        font-size: .8rem;
    }

    /* disclaimer */
    .disclaimer {
        font-size: .4rem;
        margin-top: 2rem;
    }
}